.ProgressFields{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ProgressField{
    margin-right: 5px;
    font-size: 40px;
}
.UsedLetters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.UsedLetter{
    margin-right: 2px;
    font-size: 20px;
    color: red;
}

.newGameButton {
    background-color:#79bbff;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    font-weight:bold;
    padding:14px 50px;
    text-decoration:none;
    text-shadow:4px 2px 2px #528ecc;
}
.newGameButton:hover {
    background-color:#378de5;
}
.newGameButton:active {
    position:relative;
    top:1px;
}